@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #111827;
  overflow-x: hidden;
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
}

.first-screen {
  height: 100vh;
  background: linear-gradient(to top, #111827, #4b5563);
}

.second-screen {
  background: #111827;
}

@theme {
  --color-dark-shade: #111827;
  --color-bright-shade: #4b5563;
}

.slider-container {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to top, #4b5563, #111827);
}

.slider {
  display: flex;
  animation: slide 10s linear infinite;
}

.slide {
  min-width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  gap: 4px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider .slide:nth-child(2) {
  background: linear-gradient(to top, #4b5563, #111827);
}

.slider .slide:nth-child(3) {
  background: linear-gradient(to top, #4b5563, #111827);
}

.slider .slide:nth-child(4) {
  background: linear-gradient(to top, #4b5563, #111827);
}


/* .dx-chart-bar {
  fill: #4CAF50;
} */

.dx-chart-bar {
  fill: #4b5563; 
  color: blue;
}

.dx-bar {
  background: yellow;
  fill: green;
  color: blue
}

/* .dx-chart-bar {
  fill: green; 
  color: green;
}

.dx-bar {
  fill: green;
  color: blue
}

.dx-bar-group {
  fill: green;
}

.dx-bar-label {
  fill: red;
}

.dx-grid {
  fill: red;
}

.dx-grid-line {
  fill: red;
}

.dx-grid-label {
  fill: red;
}

.dx-grid-labels {
  fill: red;
} */

.dx-bar-group {
  fill: green;
  color: green
}

.dx-bar-label {
  fill: blue;
}

.dx-grid {
  fill: yellow;
  color: yellow
}

.dx-grid-label {
  fill: green;
}

.group:hover .group-hover\:block {
	display: block;
}

/* input:focus {
  outline: none;
  border: 1px solid white;
} */